%% vim: ft=erlang

{require_min_otp_vsn, "R17"}.

{deps, []}.

{lib_dirs, ["apps","deps"]}.
{erl_first_files, ["player_mod", "safe_ets"]}.

{erl_opts, [
 	    {parse_transform, lager_transform},
%	debug_info,
    nowarn_unused_record,
	{src_dirs, ["src/engine/"]}, %% bebaviour
	{src_dirs, ["src/"]},
	{i, "src/include"},
	{i, "src/scene/include"}
]}.


{sub_dirs, ["apps/*"]}.


%% == xref ==

%% optional extra paths to include in xref:set_library_path/2.
%% specified relative location of rebar.config.
%% e.g. {xref_extra_paths,["../gtknode/src"]}
{xref_extra_paths,["apps/*/src"]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, 
               deprecated_function_calls, deprecated_functions]}.

%% Cover
%% 
%% Whether to enable coverage reporting. Default is `false'
%{cover_enabled, true}.
%{cover_print_enabled, true}.
%{cover_export_enabled, true}.



