
[
	{
		lager,
		[
			{
				handlers,
				[
					{lager_console_backend, info},
					{lager_file_backend, [{file, "log/error.log"}, {level, error}]},
					{lager_file_backend, [{file, "log/console.log"}, {level, info}]}
				]
			}
		]
	},

	{
		kernel,
		[
			{inetrc, "priv/etc/inetrc"},
			{inet_dist_listen_min, 9000},
			{inet_dist_listen_max, 9010}
		]
	},

	{
		cron,
		[
			{crontab, "./data/crontab"}
		]
	},


	{
		%% 做废
%% 		mobile_game,
%% 		[
%% 			{platform_id, 1}							%% 平台ID
%% 			, {server_id, 2}							%% 服务器ID
%% 			, {server_ip, "120.25.95.142"}				%% 服务器IP
%% 			, {server_name, <<"logic_server_2">>}		%% 服务器名称
%% 			, {server_port, 4999}						%% 服务器端口
%% 			, {key_login, <<"login">>}
%% 			, {key_recharge, <<"recharge">>}
%% 			, {gmhoutai_mysql, ["120.25.95.142",3306,"root","santi123","webdb2",utf8]}	%% 后台SQL
%% 			, {gm_port, 9011}								%% 后台端口
%% 			, {logsrv_node_name, 'logsrv@10.170.156.59'}	%% 日志结点
%% 			, {server_main_version, 13}						%% 主版本
%% 			, {server_debug_version, 0}						%% 调试版本
%% 			, {server_assish_version, 0}					%% 副版本
%% 			, {server_res_version, 7863}					%% 资源版本
%% 			, {is_check_account, 0}							%% 是否通过后台进行登陆验证
%% 			, {scene_view_max, 100}							%% 同场景最多可见人数
%% 			, {trace_node, 'trace_ali@10.170.156.59'}								%% 打印功能的结点, 0为本地打印
%% 			, {newplayer_guide, 1}							%% 禁止是新手指引, 0禁止
%% 			, {login_player_count_max, 5000}				%% 最大登录玩家数量
%% 			, {is_open_module, [{1,0}]}   %% [{index, isopen}]
%% 		]
	}
].
