
[
	{
		lager,
		[
			{
				handlers,
				[
					{lager_console_backend, info},
					{lager_file_backend, [{file, "log/error.log"}, {level, error}]},
					{lager_file_backend, [{file, "log/console.log"}, {level, info}]}
				]
			}
		]
	},

	{
		kernel,
		[
			{inetrc, "priv/etc/inetrc"},
			{inet_dist_listen_min, 9000},
			{inet_dist_listen_max, 9010}
		]
	},

	{
		cron,
		[
			{crontab, "./data/crontab"}
		]
	},


	{
		mobile_game,
		[
			{platform_id, 1}							%% 平台ID
			, {server_id, 1}							%% 服务器ID
			, {server_ip, "0.0.0.0"}					%% 服务器IP
			, {server_name, <<"logic_server_1">>}		%% 服务器名称
			, {server_port, 5000}						%% 服务器端口
			, {key_login, <<"login">>}
			, {key_recharge, <<"recharge">>}
			, {gmhoutai_mysql, ["192.168.0.142",3306,"root","","fenzhu",utf8]}	%% 后台SQL
			, {gm_port, 31000}							%% 后台端口
			, {logsrv_node_name, 'logsrv@127.0.0.1'}	%% 日志结点
			, {server_main_version, 13}					%% 主版本
			, {server_debug_version, 0}					%% 调试版本
			, {server_assish_version, 0}				%% 副版本
			, {server_res_version, 5986}				%% 资源版本
			, {is_check_account, 0}						%% 是否通过后台进行登陆验证
			, {scene_view_max, 50}						%% 同场景最多可见人数
			, {trace_node, 0}							%% 打印功能的结点, 0为本地打印
			, {newplayer_guide, 1}						%% 禁止是新手指引, 0禁止
			, {login_player_count_max, 2000}			%% 最大登录玩家数量
		]
	}
].
