%% vim: ft=erlang
{
    require_min_otp_vsn
    , "R19"
}.

{
    erl_first_files
    , ["player_mod", "handle_client", "safe_ets"]
}.

{
    erl_opts,
    [
        warn_export_all
        , debug_info
        , nowarn_unused_record
%%         , {d, env_product, 1}
        , {d, env_develop, 1}
        , {src_dirs, ["src/"]}
        , {i, ["src/game/event_server"]}
        , {i, ["src/game/msg_include"]}
        , {i, ["src/center/center_msg_include"]}
        , {i, ["src/game/include"]}
        , {i, ["src/game/config_data"]}
        , {i, ["src/game/global_data"]}
        , {i, ["src/game/link/wk_scene/include"]}
        , {i, ["src/auto/defs"]}
        , {i, ["src/auto/proto"]}
        , {i, ["src/auto/robot_proto"]}
        , {i, ["src/game/link/wk_player/callback"]}
        , {i, ["src/game/link/wk_player/db_data"]}
        , {i, ["src/game/vritual_db"]}
        , {i, ["src/game/util"]}
        , {i, ["src/game/util/rule_chart"]}
    ]
}.

{
    sub_dirs,
    [
        "apps/common"
        , "apps/config"
        , "apps/cron"
        , "apps/esqlite"
        , "apps/global_table"
        , "apps/goldrush"
        , "apps/lager"
        , "apps/lc"
        , "apps/pangzi"
        , "apps/cowboy"
        , "apps/cowlib"
        , "apps/erlang_mysql"
    ]
}.

{
    lib_dirs
    , ["apps"]
}.