{erl_opts, [
    debug_info,
%%    {parse_transform, lager_transform},
%%    {parse_transform, ms_transform},
    report,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_function,
    warn_deprecated_function,
    warn_unused_import
]}.
{deps, [
    {cowboy,      {git, "git://github.com/ninenines/cowboy.git", {tag, "2.1.0"}}}
]}.

%% app_up 热更新
{plugins, [rebar3_appup_plugin]}.
{provider_hooks, [
    {pre, [{tar, {appup, tar}}]},
    {post, [{compile, {appup, compile}},
        {clean, {appup, clean}}]}
]}.

{relx, [{release, { cowboy_test, "0.1.0" },
    [
        cowboy_test, sasl
    ]},

%%    {sys_config, "./config/sys.config"},
%%    {vm_args, "./config/vm.args"},

    {dev_mode, false},
    {system_libs, true},
    {include_erts, true},
    {include_src, false},

%%    {overlay, [
%%        {mkdir, "log"},
%%        {mkdir, "script"},
%%        {copy, "./Makefile", "script/"},
%%        {copy, "./ctl", "script/"}
%%    ]},

    {extended_start_script, true}]
}.

%%{relx, [
%%	{include_erts, false},
%%	{system_libs, false},
%%	{include_src, false},
%%	{dev_mode, false},
%%	{extended_start_script, true},
%%	{sys_config, "config/sys.config"},
%%	{vm_args, "config/vm.args"},
%%	{overlay, [
%%		{mkdir, "log"}
%%	]},
%%
%%	{release, {bxqj_slot,
%%	"dev_1.0.0" %% relflow-release-version-marker
%%	}, [erly_slot, sasl]
%%	}
%%]}.
