{erl_opts, [debug_info]}.

{deps, [
    {smerl,       {git, "https://github.com/deadtrickster/smerl.git", {branch, "master"}}}
]}.

{relx, [{release, { learn_erlang, "0.1.0" },
         [learn_erlang,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
